.container{
	width: 1170px;
	height: auto;
	margin: 0 auto;
}

.container .header{
	width: 1170px;
	height: 200px;
	background-color: red;
}

.container .row1{
	width: 1170px;
	height: 200px;
	background-color: yellow;
	float: left;
}

.container .row1 .content1{
	width: 292.5px;
	height: 200px;
	background-color: yellow;
	float: left;
}
.container .row1 .content2{
	width: 292.5px;
	height: 200px;
	background-color: rebeccapurple;
	float: left;
}
.container .row1 .content3{
	width: 292.5px;
	height: 200px;
	background-color: yellow;
	float: left;
}
.container .row1 .content4{
	width: 292.5px;
	height: 200px;
	background-color: hotpink;
	float: left;
}

.container .row2{
	width: 1170px;
	height: 200px;
	background-color: orange;
	float: left;
}
.container .row2  .content5{
	width: 292.5px;
	height: 200px;
	background-color: black;
	float: left;
}
.container .row2 .content6{
	width: 292.5px;
	height: 200px;
	background-color: darkgreen;
	float: left;
}
.container .row2 .content7{
	width: 585px;
	height: 200px;
	background-color:  lightcoral;
	float: left;
}

.container .row3{
	width: 1170px;
	height: 200px;
	background-color: orange;
	float: left;
}
.container .row3  .content8{
	width: 585px;
	height: 200px;
	background-color: orange;
	float: left;
}
.container .row3 .content9{
	width: 292.5px;
	height: 200px;
	background-color: lightblue;
	float: left;
}
.container .row3 .content10{
	width: 292.5px;
	height: 200px;
	background-color: hotpink;
	float: left;
}
.container .row4{
	width: 1170px;
	height: 200px;
	background-color: orange;
	float: left;
}
.container .row4  .content11{
	width: 292.5px;
	height: 200px;
	background-color: mediumpurple;
	float: left;
}
.container .row4 .content12{
	width: 585px;
	height: 200px;
	background-color: blue;
	float: left;
}
.container .row4 .content13{
	width: 292.5px;
	height: 200px;
	background-color: pink;
	float: left;
}

.container .row5
{
	width: 1170px;
	height: 200px;
	background-color: lightblue;
	float: left;
}
